@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('TrebuchetMS.woff2') format('woff2'),
       url('TrebuchetMS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
}

.shadow-product {
  box-shadow: 0px 3px 16px #00000014;
}

.teste {
  position: absolute;
}